language: python
python:
  - "3.5"
install: "pip install -r requirements-tests.txt"
# command to run tests
script:
  - flake8 tests/*.py aioldsplice/*.py setup.py
  - nosetests --with-coverage --cover-package=aioldsplice tests
